<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/1.png" class="img-thumbnail rounded-circle" alt="Pic" />
      <h1>Sanas Febryan</h1>
      <p>Lecturer | Content Creator</p>
    </div>
  </div>
</div>
